.candidates {
  display: flex;
  background-color: var(--color-background);
}

.candidate-cell .info-title > *:first-child {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}

.candidate-cell .info-title > *:last-child {
  font-size: var(--font-size-xs);
  font-weight: normal;
}

.candidates-table td,
.candidates-table .table-header .table-data {
  padding: 24.5px 16px 23.5px 16px;
  font-weight: normal;
}
